  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --octocat: #0d2636;
}

* {
    margin: 0;
    padding: 0;
}

#start {
    background-image: url(imagens/background\ 3.jpg);
    height: 100vh;
}

#main {
    display: flex;
}

#centralTXT {
    width: 801px;
    height: 376px;
    font-family: 'Roboto','sans-serif';
    font-size: 72px;
    padding-left: 112px;
    padding-top: 80px;
    display: block;
}

#centralTXT span {
    color: var(--octocat);
}


#instagram {
    height: 150px;
    width: 165px;
}

#GitHub {
    height: 128px;
    width: 129px;
}

#Linkedin {
    margin-left: 22px;
    height: 128px;
    width: 129px;
}

#socialMidia {
    width: 443px;
    height: 165px;
    padding: 30px;
    top: 280px;
    right: 180px;
    display: flex;
    align-items: center;
    position: absolute;
}

#down{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 80px;
}

#down p {
    font-family: 'Roboto','sans-serif';
    text-align: center;
    
}

#arrow-down {
    width: 51px;
    height: 40px;
    cursor: pointer;
}

/* projetos */

#projetos{
    height: 100vh;
    background-color: #0d2636;
    font-family: 'Roboto','sans-serif';
    color: white;
}

#projetos div{
    background-color: #0d2636;
}

#sec-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#lado1{
    padding-left: 70px;
    padding-bottom: 80px;
}

#lado1 h1{
    padding: 20px;
    text-decoration: underline 1px white;
}

#lado2{
    width: 400px;
    padding-right: 70px;
    font-size: 20px;
    
}

#linkCalculadora{  
    display: block;
    border: solid 1px snow;
    margin-left: 0px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: orangered;
}

#sec-container img{
    width: 450px;
    height: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
}

#projetos nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#projetos nav span{
    background-color: #517286;
    width: 449px;
    text-align: center;
    border: solid 1px snow;
    padding-bottom: 15px;
    padding-top: 15px;
}